.yui-log-hd, .yui-log-ft {
  display: none;
}

#console-panel .x-panel-body{
  background-color: #1E1E1E;
  color: #FFFFFF;
}
.yui-log-bd pre {
 white-space: nowrap;
}
.pass {
  color: #00FF00;
}
.fail {
  color: #FF0000;
}
.info {
  color: #FFFF00;
}

.testsuite-failed, .testsuite-passed  {
  background-image:url("../ext-3.2.1/resources/images/default/tree/drop-yes.gif");
  background-position:center center;
  background-repeat:no-repeat;
  border:0 none;
  height:18px;
  margin:0;
  padding:0;
  vertical-align:top;
  width:16px;
}

.testsuite-passed {
  background-image:url("../ext-3.2.1/resources/images/default/tree/drop-yes.gif");
}

.testsuite-failed {
  background-image:url("../ext-3.2.1/resources/images/default/tree/drop-no.gif");
}


